<template>
  <div id = 'box' v-on:resize="handleResize($event)">
    <div id = "graph">
      <h3 style = "position: absolute;top: 50%; left: 50%">{{number.toFixed(2)}}</h3>
      <div v-for="(attr, id) in boxes" :key = "id" v-bind:style="{ height: boxHeight + 'px', width: (boxWidth + (boxWidth / 2)) + 'px', left: ( boxWidth * id  ) + 'px', bottom: ( ( boxHeight * id )) + 'px' }" class = "absolute"></div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      number: 1,
      tick: 100,
      print: 100,
      origNum: 0,
      boxes: [],
      graphX: 0,
      graphY: 0,
      boxHeight: 0,
      boxWidth: 0,
      left: 0,
      bottom: 0,
      printing: 0
    }
  },
  ready: function () {
    window.addEventListener('resize', this.handleResize)
  },
  beforeDestroy: function () {
    window.removeEventListener('resize', this.handleResize)
  },
  mounted () {
    this.origNum = this.tick
    this.resetSize()
    this.clock()
  },
  methods: {
    // whenever the document is resized, re-set the 'fullHeight' variable
    handleResize (event) {
      this.fullHeight = document.documentElement.getBoundingClientRect()
      this.resetSize()
    },
    resetSize () {
      const graph = document.getElementById('graph')
      const positionInfo = graph.getBoundingClientRect()
      this.graphX = positionInfo.width
      this.graphY = positionInfo.height
      this.boxHeight = this.graphY / this.print
      this.boxWidth = this.graphX / this.print
    },
    clock () {
      this.number = this.number + 0.01
      if (parseFloat(this.number.toFixed(2)) > 2) {
        this.print++
        this.resetSize()
      }
      this.boxes.push({})
      const checkNum = parseFloat(this.number.toFixed(2))
      if (checkNum > 1 && checkNum % 1 === 0) {
        this.tick = this.tick - (this.tick / 5)
      }
      console.log(this.tick)
      setTimeout(this.clock, this.tick)
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#box {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 1px;
  pading-top: 1px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
#box > #graph {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
.absolute {
  position: absolute;
  background-color: black;
}
</style>
