<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
body, html{
  height: 100%;
  width: 100%;
  padding: 0;
}
#app {
  position: relative;
  height: 100%;
  width: 100%;
}
</style>
